
            <div class="devise_header">
                    <h3><%=current_user.firstname%> <%=current_user.firstname%>'s Profile</h3>
                </div>
                
            </div>
            <div class ="left-panel">
                
            <!--accepts 2 args, a set of the tags we want to accept, here we choose the tags from Posts, with the counts attached so we know which tags are most popular. the s m l is small medium and large, for the CSS we want to use to sort through the popularity
                
                <div id="tag_cloud">
                    <h1> Popular Tags </h1>
                     <!--<%  tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
                      <!--   <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                     <!--<% end %>
                </div>
-->
                
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= f.error_notification %>
                
            <div class ="devise-params">
                <ul>
                    <li>
                        <div class="form-group">
                             <%= f.input :firstname, required: true, autofocus: true, input_html: {class: 'form-control'} %>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                             <%= f.input :lastname, required: true, autofocus: true, input_html: {class: 'form-control'} %>
                        </div>                    
                    </li> 
                    <li>
                        <div class="form-group">
                             <%= f.select :province, options_for_select(provinces_states,"ON") %>
                        </div>
                    </li> 
                    <li>
                        <div class="form-group">
                            <%= f.input :email, required: true, autofocus: true, input_html: {class: 'form-control'} %>
                        </div>
                    </li> 
                    <li>
                        <div class="form-group">
                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                            <% end %>
                        </div>
                    </li> 
                    <li>
                        <div class="form-group">
                            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: {class: 'form-control'} %>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <%= f.input :password_confirmation, required: false, input_html: {class: 'form-control'} %>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: {class: 'form-control'} %>
                        </div>
                    </li>      
                </ul>
            </div>
            <div class ="devise-submit">
                <div class="form-actions">
                    <%= f.button :submit, "Update", class: "btn btn-primary" %>
                </div>
                <% end %>
            </div>
            
                <div class="panel-footer">
                
                <h4> <%= link_to "Sign Out", destroy_user_session_path, method: :delete%></h4>
                <h4>Cancel my account</h4>

                <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                <%= link_to "Back", :back %>
            </div>
        </div>
    </div>
</div>


