<% #= this partial containst the structure for our comment %>
<div class="comment clearfix">
  <div class="content">
    <p class="comment_content">
      <%= comment.comment %>
    </p>
    <p class="comment_author">
      <%= comment.user.firstname %> <%= comment.user.lastname %>
    </p>
  </div>
  <div class="buttons">
    <% if comment.user == current_user %>
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
      <%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "are you sure you want to delete your comment?"} %>
    <% end %>
  </div>
</div>
