<!--partial that renders the form -->

<div class="form-new">
  <p> Which type of project do you want to submit? <p>
    <div class="buttons">
      <button class="red"> Feedback on an idea</button>
      <button class="yellow"> Crowdfunding Campaign</button>
      <button class="blue"> Help with a Task </button>
    </div>
  <%= simple_form_for(@post, html: { class: "directUpload"}) do |f| %>
    <% if @post.errors.any? %>
      <div id="errors">
        <p><%= pluralize(@post.errors.count, "error") %>
        prevented this post from saving:</p>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
            <%= f.input :title, label: "What do you want to do?",input_html: { class: 'form-control' } %>
    </div>
     <div class="form-group">
           <%= f.input :content, label: "Talk about this idea and why people should be interested in it:", input_html: { class: 'form-control'} %>
          </div>
    <div class="idea">
     <div class="overlay blue"> </div>
          
          <div class="form-group">
            <%= f.file_field :image, input_html: { class: 'form-control' } %>
          </div>
        
          <%= f.fields_for :ideas do |ideas_form| %>
            <%= render 'idea_fields', f: ideas_form %>
          <% end %>
              <div class="add-idea">
                <%= link_to_add_association '+ add task', f, :ideas %>
              </div>
          <div class="form-group">
            <% @tagArray = Array.new %>
            <% Post.tag_counts.each do |x| @tagArray.push(x.name) end %>
            <%= f.input :tag_list, label: "Tags (separated by commas)", input_html: { data: {autocomplete_source: @tagArray}, class: 'form-control' } %>
          </div>
           <%= f.button :submit, class: "submit-button" %>
    </div>

    <div class="feedback">
      <div class="overlay red"> </div>
          <div class="form-group">
            <%= f.file_field :image, input_html: { class: 'form-control' } %>
          </div>
         
            <%= f.fields_for :feedbacks do |feedbacks_form| %>
              <%= render 'feedback_fields', f: feedbacks_form %>
           <% end %>
              <div class="add-idea">
                <%= link_to_add_association '+ add option', f, :feedbacks %>
              </div>
        <div class="form-group">
          <% @tagArray = Array.new %>
          <% Post.tag_counts.each do |x| @tagArray.push(x.name) end %>
          <%= f.input :tag_list, label: "Tags (separated by commas)", input_html: { data: {autocomplete_source: @tagArray}, class: 'form-control' } %>
        </div>
           <%= f.button :submit, class: "submit-button" %>
    </div>

      <div class="crowdfunding">
        <div class="overlay yellow"> </div>
         
          <div class="form-group">
            <%= f.file_field :image, input_html: { class: 'form-control' } %>
          </div>

        <h4>Enter suggested amounts: </h4>
            <%= f.fields_for :crowdfundings do |crowdfundings_form| %>
              <%= render 'crowdfunding_fields', f: crowdfundings_form %>
           <% end %>
              <div class="add-idea">
                <%= link_to_add_association '+ add amount', f, :crowdfundings %>
              </div>

          <div class="form-group">
            <% @tagArray = Array.new %>
            <% Post.tag_counts.each do |x| @tagArray.push(x.name) end %>
            <%= f.input :tag_list, label: "Tags (separated by commas)", input_html: { data: {autocomplete_source: @tagArray}, class: 'form-control' } %>
          </div>
           <%= f.button :submit, class: "submit-button" %>
      </div>
  
    
  <% end %>
</div>
    


