  <div class="post-image">
        <% if @post.image.url %>
          <%= image_tag @post.image.url %>
        <% else %>
          <% image_tag("/assets/images/BG2.jpg") %>
        <% end %>
      </div>
       <div class="overlay 
          
            <% if @post.feedbacks.present? %>
              red
            <% elsif @post.ideas.present? %>
              blue
            <% else %>
              yellow
            <% end %>
            ">
        </div>
      <div class="post-page-body">
        <h1>
          <%= @post.title %>
        </h1> <%= link_to like_post_path(@post), method: :put, class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-heart">
                    ^ <%= @post.get_upvotes.size %>
                  </span> 
                  <br/>
                <% end %>
        <p class="description">
          <%= @post.content %>
        </p>
        <% if @post.ideas.present? %>
              <% @post.ideas.each do |idea| %>
                <p><%= idea.content %></p>
            <% end %>

          <% elsif @post.feedbacks.present? %>
              <% @post.feedbacks.each do |feedback| %>
                <p><%= feedback.option %></p>
                <h4> Polling tools coming soon! </h4>
              <% end %>

          <% elsif @post.crowdfundings.present? %>
              <% @post.crowdfundings.each do |crowdfunding| %>
                <p>$<%= crowdfunding.amount %></p>
              <% end %>
          <% end %>
         
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              <p class="user"></p>
              Submitted by
              <%= @post.user.firstname %> <%= @post.user.lastname %>
              <br/>
              Tags:
              <%= raw @post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %>
            </div>
         

                <% if  @post.user == current_user && user_signed_in? %>
                  <%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
                  <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?"}, class: "btn btn-default" %>
                <% end %>
             
          </div>
          <div class="row">
              <div id="comments">
                <h2></h2>
                <br/>
                <div class="count">
                  <%= @post.comments.count %>
                  Comments
                </div>
                <hr/>
                <%= render @post.comments %>
                <% if user_signed_in? %>
                  <h4>Comment on this:</h4>
                  <%= render "comments/form" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
