#pin_show.row
    .col-md-8.col-md-offset-2
        .panel.panel-default
            .panel-heading.pin_image
                - if @post.image.url
                    = image_tag @post.image.url
            .panel-body
                %h1=@post.title
                %p.description=@post.content
                %p
                .panel-footer
                    .row
                        .col-md-6
                            %p.user
                            Submitted by
                            = @post.user.email
                            %br/
                            Tags:
                            = raw @post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ')
                        .col-md-6
                            .btn-group.pull-right
                                = link_to like_post_path(@post), method: :put, class: "btn btn-default" do
                                    %span.glyphicon.glyphicon-heart
                                        =@post.get_upvotes.size
                                - if  @post.user == current_user && user_signed_in?
                                    = link_to "Edit", edit_post_path(@post), class: "btn btn-default"
                                    = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?"}, class: "btn btn-default"
                    .row
                        .col-md-6
                            #comments
                                %h2
                                %br/
                                .count
                                    = @post.comments.count
                                    Comments
                                %hr/
                                = render @post.comments

                                - if user_signed_in?
                                    %h3 Reply to thread
                                    = render "comments/form"
    
        
    
    