!!!
%html
<!-- SO, this runs right away, its compiled, drops the header in, and then YIELDS to the root path-->
%head
    %title apollo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    <!--Lato Font from google, and the Normalize library for browser compatibility and consistency-->
    %link{ rel: 'stylesheet', href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", type:'text/css'}
    %link{ rel: 'stylesheet', href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"}
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,400,600',  type:'text/css'}
    %link{ rel: 'stylesheet', href: 'http://fast.fonts.net/jsapi/782e6a4b-8921-4ff2-bbbb-fb130f79971f.js',  type:'text/css'}
    
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body
    
    %nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-brand
                =link_to "apollo", root_path                  
            - if user_signed_in?
                %ul.nav.navbar-nav.navbar-right
                    %li
                        #search
                            = form_tag(posts_path, :method => "get", id: "search-form") do
                                = text_field_tag :search, params[:search], placeholder: "Search Posts"
                                = submit_tag "Search"
                                - if @posts.present? == false
                                    %p 
                                        There are no posts containing the term(s) 
                                        = params[:search]
                    %li= link_to "Feedback?", "mailto:colin@weareapollo.ca?Subject=Site%20Feedback"
                    %li= link_to "New Post", new_post_path
                    %li= link_to "Account", edit_user_registration_path
                   
            - else
                %ul.nav.navbar-nav.navbar-right
                    %li=link_to "Sign in", new_user_session_path
                    %li=link_to "Sign up", new_user_registration_path
                    
                    
                    
                    
    - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"
        
        
        
        
        
        
        
    <!--these alerts are just for when they need to show up (not all the time, for example when youre already signed in-->
    .wrapper
        %p.notice= notice
        %p.alert= alert
    <!-- yields to root path-->
    .wrapper
        = yield
        
        